<%= form_for @resource do |f| %>
    <p>
      <%= f.label :category %><br>
      <%= f.select(:category, @category_options) %>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :link %><br>
      <%= f.text_field :link %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>